<section>
    <div class="container">
        <div class="row">

            <div class="col-12">
                <h2>My Cart</h2>
            </div>
            <!-- Cart Details -->
            <div class="col-md-8 details mb-2">
                <div class="border rounded-2 p-4">
                    <div *ngFor="let cart of CartDetails">
                        <ul class="details-wrapper">
                            <li>
                                <img class="productImg mb-2" src="{{cart.image}}" alt="image">
                            </li>
                            <li>
                                <span>{{cart.title}}</span>
                            </li>
                            <li>
                                <span>{{cart.price | currency}}</span>
                            </li>
                            <li>
                                <span>
                                    {{cart.quantity}}
                                </span>
                            </li>
                            <li>
                                <button class="btn btn-outline-dark"><i class="bi bi-trash-fill"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
            <!-- amount details -->
            <div class="col-md-4 summary">
                <div class="border rounded-2 p-4">
                    <h3 class="heading">Summary</h3>

                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between">
                            <span>Amount:{{cartSummary.price | currency}}</span>
                        </li>
                        <li>
                            <span>Tax:{{cartSummary.tax | currency}}</span>
                        </li>
                        <li>
                            <span>Delivery Charges:{{cartSummary.deliveryCharges | currency}}</span>
                        </li>
                        <li>
                            <span>Discount:{{cartSummary.discount | currency}}</span>
                        </li>
                        <li>
                            <h4><span>Total:{{cartSummary.total | currency}}</span></h4>
                        </li>
                        <li>
                            <button class="btn btn-success w-100" (click)="checkOrder()">Proceed to Buy</button>
                        </li>

                    </ul>
                </div>

            </div>

        </div>

    </div>
</section>