<section class="py-3">
<div ag-grid="gridOptions" class="ag-theme-bootstrap">
  <div class="container-fluid">
    <div class="mb-2">
      <button class="btn btn-outline-primary btn-sm me-2" (click)="onAddition()">Add New Product</button>
      <button class="btn btn-outline-danger btn-sm" (click)="onDelete()" >Remove Selected Product</button>
    </div>
    <ag-grid-angular 
        class="ag-theme-balham"      
        [columnDefs]="columns"
        [rowData]="rowData"
        [defaultColDef]="defaultColDef" 
        [rowSelection]="rowSelection"
        (gridReady)="onGridReady($event)"
        (selectionChanged)="onSelectionChanged()"
    >
    </ag-grid-angular>
  </div>
</div>
</section>
