<header>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand fw-bold" href="#">
              Zepto<span class="text-danger">Mart</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mb-2 mb-lg-0">

                <li class="nav-item login-signup position-relative ps-md-2 ms-md-2" >
                  <a class="nav-link px-md-3" routerLink="/home">Home</a>
                </li>
                
                <li class="nav-item login-signup position-relative ps-md-2 ms-md-2" >
                  <a class="nav-link px-md-3" routerLink="/allCategory">All Categories</a>
                </li>

                  <li class="nav-item">
                  <a class="nav-link px-md-3" routerLink="/allProducts" >All Products</a>
                </li> 

                 <!-- <li class="nav-item">
                  <a class="nav-link px-md-3" routerLink="/category" >Add Category</a>
                </li>   -->

                <!-- <li class="nav-item">
                  <button class="btn btn-primay">Logout</button>
                </li> -->
  
              </ul>
  
            </div>
            <ul class="list-unstyled list-inline m-0 mb-2 mb-lg-0">
              <li class="list-inline-item">
                  <div class="dropdown">
                    <a class="dropdown-toggle text-dark" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-person"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                      <li> <a class="nav-link px-md-3" routerLink="/login">Login</a></li>
                      <li> <a class="nav-link px-md-3" routerLink="/signup">Register</a></li>
                      <li> <a class="nav-link px-md-3" href="#" role="button">Logout</a></li>
                    </ul>
                    </div>     
              </li>
            <li class="list-inline-item">
              <div class="dropdown">
                <a class="dropdown-toggle text-dark" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-person-lock"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                  <li> <a class="nav-link px-md-3" routerLink="/products" >Add Products</a></li>
                  <li>  <a class="nav-link px-md-3" routerLink="/category" >Add Category</a></li>
                </ul>
            </div>
            </li>
          </ul>
  
          </nav>

        </div>
      </div>
    </div>
  </header>
