<header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand fw-bold" href="#">
            Zepto<span class="text-danger">Mart</span>
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">

              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}">
          <a class="nav-link px-md-3" routerLink="/">Home </a>
        </li>

              <li class="nav-item login-signup position-relative ps-md-2 ms-md-2">
                <a class="nav-link px-md-3" routerLink="/allCategory">All Categories</a>
              </li>

              <li class="nav-item">
                <a class="nav-link px-md-3" routerLink="/allProducts">All Products</a>
              </li>
<!-- admin role block  -->
              <ng-container *ngIf="user?.role==='admin'">
              <li class="nav-item">
                <a class="nav-link px-md-3" routerLink="/products" *ngIf="(isUserLoggedIn$|async)">Add Products</a>
              </li>
            

              <li class="nav-item">
                <a class="nav-link px-md-3" routerLink="/category" *ngIf="(isUserLoggedIn$|async)">Add Category</a>
              </li>

              <li class="nav-item">
                <a class="nav-link px-md-3" routerLink="/coupons" *ngIf="(isUserLoggedIn$|async)">Add Coupon</a>
              </li>

              <li class="nav-item">
                <a class="nav-link px-md-3" routerLink="/allOrders" *ngIf="(isUserLoggedIn$|async)">All Orders</a>
              </li>
            </ng-container>
            </ul>
          </div>



          <ul class="list-unstyled list-inline m-0 mb-2 mb-lg-0">
            <!-- for search area -->
            <!-- <li class="list-inline-item">
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark" type="submit"><i class="bi bi-search"></i></button>
              </form>
            </li> -->

            <!--for user login area-->
            <li class="list-inline-item">
              <a class="nav-link px-md-3" routerLink="/login" *ngIf="!(isUserLoggedIn$|async)">
                Login
              </a>
            </li>
            <li class="list-inline-item">
              <a class="nav-link px-md-3" href="#" role="button" (click)="onLogout()" *ngIf="(isUserLoggedIn$|async)">
                Logout
              </a>
            </li>
            <!-- <li class="list-inline-item">
                <h3>
                  <i class="bi bi-person"></i>
                </h3>
             </li> -->

            <!--for cart-->
            <li class="list-inline-item">
              <a id="cartButton">
                <h3><i class="bi bi-cart" routerLink="/cartDetails" *ngIf="(isUserLoggedIn$|async)"></i></h3>
              </a>
            </li>
          </ul>

        </nav>

      </div>
    </div>
  </div>
</header>