/* Category Sec */
.categories-sec img {
	object-fit: cover;
}

.left-wrapper img {
	height: 198px;
}

.middle-wrapper img {
	height: 420px;
	object-fit: cover;
}

.right-wrapper img {
	height: 198px;
}

/* coupons sec */
.coupons-sec {
	background-image: url('https://img.freepik.com/free-photo/close-up-woman-sitting-sofa-looking-laptop_23-2148304830.jpg?w=740&t=st=1677343040~exp=1677343640~hmac=aeb7f4338ea4a64e8a8f8509a3e68ba6154907a80e45cfb7733a8824fcb5d6ab');
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
	padding: 70px 0;
}

/* Footer Sec*/
.footer-wrapper {
	background-color: #191919;
}

/*banner sec*/
@media (min-width: 768px) {
	.banner-sec .banner-content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: calc((100% - 1140px) / 2);
		max-width: 450px;
		color: white;
	}

	.right-wrapper .d-md-flex .category-wrapper {
		width: 50%;
	}

	.btn-outline-white {
		color: #fff;
		border-color: #fff;
	}

	.btn-outline-white:hover,
	.btn-outline-white:focus,
	.btn-outline-white:active {
		background-color: #fff;
		color: #adadad;
	}
}

@media (max-width: 767px) {
	br {
		display: none;
	}
}

.response {
	max-width: 100%;
	height: auto;
	border-radius: 4px;
}