<section class="position-relative banner-sec py-md-0 py-5 ">
    <img src="../../../assets/img/shoppingBanner.png" class="w-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="banner-content text-center">
            <h1 class="fw-normal"><span class="fw-bold">Brand, You must have...!</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
            <button type="button" class="btn btn-outline-primary">Shop Now...!!</button>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="categories-sec py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="category-wrapper position-relative mb-2">
                    <img src="../../../assets/img/men.png" class="w-100" alt="image" >
                    <button class="btn btn-outline-primary position-absolute top-50 start-50 translate-middle" type="button">MEN</button>
                </div>
                <div class="category-wrapper position-relative mb-2">
                    <img src="../../../assets/img/newarival.jpg" class="w-100" alt="image" >
                    <button class="btn btn-outline-primary position-absolute top-50 start-50 translate-middle" type="button">NEW</button>
                </div>
                <div class="category-wrapper position-relative mb-2">
                    <img src="../../../assets/img/newarival.jpg" class="w-100" alt="image" >
                    <button class="btn btn-outline-primary position-absolute top-50 start-50 translate-middle" type="button">KIDS</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-wrapper position-relative mb-4">
                    <img src="../../../assets/img/women.jpg" class="w-100" alt="image">
                    <button class="btn btn-outline-success position-absolute top-50 start-50 translate-middle" type="button">WOMEN</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="category-wrapper position-relative mb-4 ">
                    <img src="../../../assets/img/accessory.jpg" class="w-100" alt="image" >
                    <button class="btn btn-outline-primary position-absolute top-50 start-50 translate-middle" type="button">SALE</button>
                </div>
                <div class="category-wrapper position-relative mb-2 w-50 ">
                    <img src="../../../assets/img/newarival.jpg" class="w-100" alt="image" >
                    <button class="btn btn-outline-primary position-absolute top-50 start-50 translate-middle" type="button">ELECTRONIC</button>
                </div>
            </div>
        </div>
    </div>
</section> 
            >