<section class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
            <table class="table table-sm">
                <thead>
                <tr class="table-primary">
                    <th>Order</th>
                    <th>Name</th>
                    <th>price</th>
                    <th>status</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let order of orders">
                    <td><img class="productImg" src="{{order.image}}" height="70" width="70"></td>
                    <td>{{order.product}}</td>
                    <td>{{order.price | currency }}</td>
                    <td>{{order.status}}</td>
                    <td><button class="btn btn-primary">cancel product</button></td>
                </tr>
                </thead>
            </table>
        </div>
        </div>
    </div>
</section>
