<section class="py-5">
    <div class="container">
        <div class="row d-flex">

            <div class="col-md-8 offset-md-2">

                <div class="card mb-4 coupon-wrapper" *ngFor="let coupon of allCoupons">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-md-7">
                                <!-- <h5 class="card-title">{{coupon.coupon}}</h5> -->
                                <p class="badge bg-danger fs-5">{{coupon.coupon}}</p>
                                <p class="card-text fw-bold">{{coupon.offer}}</p>
                                <p class="mb-0">{{coupon.details}}</p>
                            </div>
                            <div class="col-md-5">
                                    <small>Use this coupon code at checkout: </small>
                                    <div class="coupon-code d-md-flex mb-md-0 mb-2 gap-2 mt-2">
                                        <h5 class="text-dark p-2 mb-0 text-center rounded-2">{{coupon.code}}</h5>
                                        <button type="button" class="btn btn-dark">Copy Code</button>
                                    </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer">
                       <small class="text-muted"><i class="bi bi-stopwatch me-2"></i>Valid Till
                            {{coupon.validation}}</small>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>