<section class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="border rounded-2 p-4">
                    <h4 class="mb-3">Address Details</h4>
                    <p>Enter your destination to get a shipping estimate</p>
                    <form #orderDetailsForm="ngForm" (ngSubmit)="onSubmit(orderDetailsForm)">
                        <div class="mb-3">
                            <label class="form-check-label fw-bold mb-1">Country</label>
                            <select class="form-select" ngModel name="country" required (change)="onChangeConutry($event)">
                                <option selected>Select</option>
                                <option *ngFor="let country of countries" value="{{country.id}}">{{country.countryName}}
                                </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-check-label fw-bold mb-1">State</label>
                            <select class="form-select" ngModel name="state" required>
                                <option selected>Select</option>
                                <option *ngFor="let state of states" value="{{state.id}}">{{state.stateName}}</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-check-label fw-bold mb-1">Address</label>
                            <input class="form-control" type="text" ngModel name="address"
                                placeholder="Enter your Address" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-check-label fw-bold mb-1">Email Address</label>
                            <input class="form-control" type="email" ngModel name="email"
                                placeholder="Enter your Email" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-check-label fw-bold mb-1">Contact Number</label>
                            <input class="form-control" type="text" ngModel name="contact"
                                placeholder="Enter your Contact No." required>
                        </div>

                        <div>
                            <input type="submit" value="Save" class="btn btn-primary w-100" [disabled]="!orderDetailsForm.valid">
                        </div>

                    </form>

                </div>
            </div>

            <div class="col-md-4">
                <div class="border rounded-2 p-4">
                    <h4 class="mb-3">Note</h4>
                    <p>Add special instructions for your order</p>
                    <form>
                        <label class="form-check-label fw-bold mb-1">Special Instructions</label>
                        <textarea class="form-control" placeholder="Leave a comment here" rows="8"></textarea>
                    </form>
                </div>
            </div>


            <div class="col-md-4">
                <div class="border rounded-2 p-4">
                    <h4 class="mb-3">Order Total</h4>

                    <p class="mb-2 d-flex justify-content-between">Subtotal: <span
                            class="fw-bold h5">{{cartSummary.price | currency}}</span></p>
                    <p class="mb-2 d-flex justify-content-between">Tax<span class="fw-bold h5"> {{cartSummary.tax |
                            currency}}</span></p>
                    <p class="mb-2 d-flex justify-content-between">Delvery Charges:<span class="fw-bold h5">
                            {{cartSummary.deliveryCharges | currency}}</span></p>
                    <p class="mb-2 d-flex justify-content-between">Discount:<span class="fw-bold h5">
                            {{cartSummary.discount | currency}}</span></p>
                    <p class="mb-2 d-flex justify-content-between">Total:<span class="fw-bold h5 text-primary">
                            {{cartSummary.total | currency}}</span></p>

                    <div>
                        <button class="btn btn-primary w-100 mb-2" (click)="viewOrders()">Place Order </button>
                        <button class="btn btn-success w-100 mb-2"(click)="viewCoupons()">View Coupons</button>
                        <input type="text" class="form-control w-100 mb-2">
                        <button class="btn btn-outline-dark w-100">Apply Coupon</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>