<section class="py-2">
  <div ag-grid="gridOptions" class="ag-theme-bootstrap">
    <div class="container-fluid">
      <div class="mb-1">
        <button class="btn btn-outline-primary btn-sm me-2" (click)="onAddition()">Add New Coupon</button>
        <button class="btn btn-outline-danger btn-sm" (click)="onDelete()">Remove Coupon</button>
      </div>
      <ag-grid-angular class="ag-theme-balham" [columnDefs]="columns" [rowData]="rowData" [rowSelection]="rowSelection"
        [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)" (selectionChanged)="onSelectionChanged()">
      </ag-grid-angular>
    </div>
  </div>
</section>